  <!------------------ Navbar --------------------->
  <header>
    <a href="#" class="marque">Travel</a>
    <div class="menu-btn"></div>
    <div class="navigation">
      <div class="navigation-items">
        <a href="#">Accueil</a>
        <a href="#">A Propos</a>
        <a href="#">Explore</a>
        <a href="#">Galerie</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </header>